@use '../../styles/variables' as *;

.container {
  padding: $spacing-xxl;
  color: $text-primary;
  
  h1 {
    color: $text-primary;
    margin-bottom: $spacing-lg;
  }
  
  p {
    color: $text-secondary;
  }
}

