@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.status-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs $spacing-md;
  border-radius: $border-radius-sm;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  border: $border-width solid;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1;
  
  &.dark-theme {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  &.light-theme {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

