// ============================================
// Angular Material Overrides - Dracula Theme
// ============================================

@use './variables' as *;
@use './mixins' as *;

// Mat Table
::ng-deep .mat-mdc-table {
  background-color: $bg-secondary;
  color: $text-primary;
}

::ng-deep .mat-mdc-header-row {
  background-color: $bg-tertiary;
}

::ng-deep .mat-mdc-row {
  &:hover {
    background-color: $bg-hover;
  }
}

// Mat Form Field
::ng-deep .mat-mdc-form-field {
  .mat-mdc-text-field-wrapper {
    background-color: $bg-secondary;
  }
  
  .mat-mdc-form-field-input-control {
    color: $text-primary;
  }
  
  .mat-mdc-form-field-label {
    color: $text-secondary;
  }
  
  &.mat-focused {
    .mat-mdc-form-field-label {
      color: $blue;
    }
  }
}

// Mat Button
::ng-deep .mat-mdc-button,
::ng-deep .mat-mdc-raised-button,
::ng-deep .mat-mdc-outlined-button {
  &.mat-primary {
    background-color: $blue;
    color: $bg-primary;
    
    &:hover {
      background-color: $blue-dark;
    }
  }
}

// Mat Menu
::ng-deep .mat-mdc-menu-panel {
  background-color: $bg-secondary;
  border: $border-width solid $border-color;
  border-radius: $border-radius-md;
}

::ng-deep .mat-mdc-menu-item {
  color: $text-primary;
  
  &:hover {
    background-color: $bg-hover;
  }
  
  mat-icon {
    color: $text-secondary;
  }
}

// Mat Tabs
::ng-deep .mat-mdc-tab-group {
  .mat-mdc-tab-header {
    background-color: $bg-secondary;
    border-bottom: $border-width solid $border-color;
  }
  
  .mat-mdc-tab {
    color: $text-secondary;
    
    &.mdc-tab--active {
      color: $blue;
    }
  }
  
  .mdc-tab-indicator__content--underline {
    border-color: $blue;
  }
}

// Mat Paginator
::ng-deep .mat-mdc-paginator {
  background-color: $bg-secondary;
  color: $text-primary;
  border-top: $border-width solid $border-color;
  
  .mat-mdc-paginator-page-size-label,
  .mat-mdc-paginator-range-label {
    color: $text-secondary;
  }
  
  .mat-mdc-icon-button {
    color: $text-secondary;
    
    &:hover {
      color: $text-primary;
    }
  }
}

// Mat Tooltip
::ng-deep .mat-mdc-tooltip {
  background-color: $bg-tertiary;
  color: $text-primary;
  font-size: $font-size-xs;
  padding: $spacing-xs $spacing-sm;
  border: $border-width solid $border-color;
}

// Mat Dialog
::ng-deep .mat-mdc-dialog-container {
  background-color: $bg-secondary;
  color: $text-primary;
  border: $border-width solid $border-color;
}

::ng-deep .mat-mdc-dialog-title {
  color: $text-primary;
}

::ng-deep .mat-mdc-dialog-content {
  color: $text-secondary;
}

