@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.confirm-dialog {
  min-width: 300px;
  max-width: 500px;
  background-color: $bg-primary;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: $border-radius-md;
  padding-top: $spacing-xxl;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;
  margin-bottom: $spacing-lg;
  margin-top: $spacing-lg;
  
  .alert-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
  
  h2 {
    margin: 0;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $text-primary;
  }
}

p {
  margin: 0;
  line-height: 1.5;
  color: $text-secondary;
}

mat-dialog-actions {
  margin-top: $spacing-xxl;
  gap: $spacing-md;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancel-button {
  @include button-secondary;
  margin-right: $spacing-md;
  background-color: $bg-tertiary;
  border-color: $border-color;
  color: $text-primary;
  font-weight: $font-weight-medium;
  
  &:hover:not(:disabled) {
    background-color: $bg-hover;
    border-color: $blue;
    color: $text-primary;
  }
}

.confirm-button.danger-button {
  @include button-danger;
}

