@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.contract-details-container {
  @include flex-column;
  height: 100%;
  overflow: hidden;
}

.details-header {
  @include flex-between;
  align-items: center;
  padding: $spacing-lg;
  background-color: $bg-secondary;
  border-bottom: $border-width solid $border-color;
  
  h1 {
    font-size: $font-size-lg;
    margin: 0;
  }
}

.back-button {
  @include button-secondary;
  width: 40px;
  height: 40px;
  padding: 0;
  min-height: 40px;
  
  mat-icon {
    font-size: 24px;
  }
}

.loading-message {
  @include flex-center;
  gap: $spacing-md;
  padding: $spacing-xxl;
  color: $text-secondary;
  
  mat-icon {
    font-size: 32px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.details-content {
  flex: 1;
  overflow: hidden;
}

.tab-content {
  padding: $spacing-lg;
  height: 100%;
  overflow-y: auto;
  @include scrollbar;
}

::ng-deep .mat-mdc-tab-group {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  flex: 1;
  overflow: hidden;
}

::ng-deep .mat-mdc-tab-header {
  background-color: $bg-secondary;
  border-bottom: $border-width solid $border-color;
}

::ng-deep .mat-mdc-tab {
  color: $text-secondary;
  
  &.mdc-tab--active {
    color: $blue;
  }
}

::ng-deep .mdc-tab__ripple::before {
  background-color: $blue;
}

