@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.contracts-table-container {
  @include flex-column;
  height: 100%;
  padding: $spacing-lg;
  gap: $spacing-md;
  overflow: hidden;
}

.toolbar {
  @include flex-between;
  gap: $spacing-md;
  padding: $spacing-md;
  background-color: $bg-secondary;
  border: $border-width solid $border-color;
  border-radius: $border-radius-md;
}

.toolbar-button {
  @include button-secondary;
  min-height: $button-height-md;
  
  mat-icon {
    font-size: 18px;
    margin-right: $spacing-xs;
  }
}

.icon-button {
  @include button-secondary;
  width: 32px;
  height: 32px;
  padding: 0;
  min-height: 32px;
}

.spacer {
  flex: 1;
}

.uasg-info {
  font-size: $font-size-sm;
  color: $text-secondary;
  font-weight: $font-weight-medium;
}

.search-bar {
  width: 100%;
  
  ::ng-deep .mat-mdc-form-field {
    width: 100%;
  }
  
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: $bg-secondary;
  }
  
  ::ng-deep .mat-mdc-form-field-input-control {
    color: $text-primary;
  }
}

.table-wrapper {
  flex: 1;
  overflow: auto;
  @include scrollbar;
}

.contracts-table {
  @include table;
  width: 100%;
  
  th {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  tr.mat-row {
    cursor: pointer;
    
    &:hover {
      background-color: $bg-hover;
    }
  }
}

.empty-message {
  text-align: center;
  padding: $spacing-lg;
  color: $text-muted;
  font-style: italic;
}

::ng-deep .mat-mdc-paginator {
  background-color: $bg-secondary;
  color: $text-primary;
  border-top: $border-width solid $border-color;
}

::ng-deep .mat-mdc-menu-panel {
  background-color: $bg-secondary;
  border: $border-width solid $border-color;
}

::ng-deep .mat-mdc-menu-item {
  color: $text-primary;
  
  &:hover {
    background-color: $bg-hover;
  }
  
  mat-icon {
    color: $text-secondary;
    margin-right: $spacing-sm;
  }
}

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-md;
  padding: $spacing-xxl;
  color: $text-secondary;
  
  mat-icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

